h1{
	text-transform: uppercase;
	font-size: 72px;
	letter-spacing: 4px;
	overflow: hidden;
	background: linear-gradient(90deg, red, #fff, #000);
	background-repeat: no-repeat;
	background-size: 80%;
	animation: animate 4s linear infinite;
	-webkit-background-clip: text;
	-webkit-text-fill-color: rgba(255, 255, 255, 0);
	z-index: 50;
}
@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}
.sticky {
	position: sticky;
	top: 0;
	padding: 30px;
}
.box{
	background-image: url('../img/bfoto.jpg');
	height: 1500px;
	width: 100%;
	color:green;
    font-size: 50px;
 	text-align: center;
}
.box1{
	position: relative;
	background-image: url('../img/messi.jpg');
	height: 300px;
	width: 300px;
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
 	margin-left: 50px;
 	display: inline-block;
}
.text{
	 position: absolute; 
	bottom:0;
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 100%;
  transition: 1.5s ease;
  opacity:0;
  color: #A70042;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}
.box1:hover .text {
  opacity: 1;
}
.box2{
	height: 200px;
	width: 200px;
	background-image: url('../img/ball.png');
	background-size: cover;
    background-position: center;
	display: inline-block;
	margin-left: 100px;
	animation: bounce 0.8s;
  	animation-direction: alternate;
 	animation-iteration-count: infinite;
}
@keyframes bounce { 
  0% { transform: translateY(0); }
  100% { transform: translateY(-50px); }
}
.box3{
	height: 400px;
	width: 400px;
	background-image: url('../img/blogo.png');
	background-size: cover;
    background-position: center;
}
 .box3:hover {	
 	animation: skew 3s infinite;
	transform: skew(20deg);
	animation-direction: alternate;
	opacity: .7;
}
@keyframes skew {
  0% {
    transform: skewX(20deg);
  }
  100% {
    transform: skewX(-20deg);
  }
}